<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">

<title>Listado</title>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand">Listado de Personas</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link">Contacto</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<table class="table table-hover table-dark">
			<thead>
			  <tr>
				<th>Id</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Edad</th>
				<th scope="col">Dni</th>
			  </tr>
			</thead>
			<tbody>
				<tr th:each="persona : ${personas}">
					<th><span th:text="${persona.id}"></span></th>
					<td th:text="${persona.nombre}"></td>
					<td th:text="${persona.apellido}"></td>
					<td th:text="${persona.edad}"></td>
					<td><span th:text="${persona.dni}"></span></td>
				  </tr>
			</tbody>
		  </table>

	</div>
	
</body>
</html>